@import "./src/scss/Colour\ Schemes/SwampDark.scss";
@import "./src/scss/Colour\ Schemes/SwampLight.scss";

* {
  all: unset;
  color: $base04;
  font-family: "CozetteHiDpi";
  // font-family: "IBM Plex Sans";
  font-size: 13px;
}

tooltip {
  font-weight: 500;
  background: $base01;
  border: 3px solid $drkHrd;
  padding: 10px 20px;
}

@import "./src/scss/topbar.scss";
