.theme-light {
    --neobrutal-color-1: #DDCEBC;
    --neobrutal-color-2: #f1e3d1;
    --neobrutal-color-text: #64513e;
    --neobrutal-color-accent: #bf7979;
}

.theme-dark {
    --neobrutal-color-1: #3a3124;
    --neobrutal-color-2: #242015;
    --neobrutal-color-text: #ebe0bb;
    --neobrutal-color-accent: #db930d;
}